:root {
    --primary-color: #083b4c;
    --bg-card: #051920;
    --card-red: #f0466f;
    --card-blue: #1389b2;
    --card-green: #0cd6a1;
    --card-yellow: #ffd166;
}

body {
    background-color: var(--bg-card);
}

.wrapped {
    padding-top: 50px;
}

.container {
    background-color: var(--primary-color);
}

.square-box {
    width: 600px;
    height: 600px;
}

.square-content {
  
    background-color: var(--primary-color);
    padding: 5px;

}

.square{
    background-color: #f8f8f8;
    width: 50px;
    height: 50px;
    margin:  
}
.bg-red{
    background-color: var(--card-red);
}
.bg-yellow{
    background-color: var(--card-yellow);
}
.bg-blue{
    background-color: var(--card-blue);
}
.bg-green{
    background-color: var(--card-green);
}